<div class="home">
  <div class="home__app-logo">
    <p id="app-logo">app logo</p>
  </div>
  <div class="home__button-list">
    <button mat-raised-button color="primary" class="home__button-list__button">partie rapide</button>
    <div class="home__button-list__game-type">
      <button mat-raised-button color="accent" class="home__button-list__button">trouve le joueur</button>
      <button mat-raised-button color="accent" class="home__button-list__button">trouve le maillot</button>
      <button mat-raised-button color="accent" class="home__button-list__button">trouve la composition</button>
    </div>
  </div>
</div>
<router-outlet></router-outlet>