.guess-composition__soccer-field {
    height: 545px;
    width: 340px;
    background-color: #348c31;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.guess-composition__soccer-field__playersContainer {
    display: flex;
    justify-content: space-evenly;
}

.guess-composition__soccer-field__button {
    height: 40px;
    width: 40px;
    background-color: black;
    border-radius: 100%;
    color: white;
}

.guess-composition__soccer-field__matForm {
    display: none;
    position: absolute;
    left: 5vw;
    flex-direction: row;
}