<form [formGroup]="jerseyForm">
    <mat-form-field class="games-display__form__mat-form">

        <mat-label>&#201;quipe</mat-label>
        <input type="text" matInput class="games-display__form__mat-form__input" formControlName="team" required>

        <mat-label>Année</mat-label>
        <mat-select formControlName="year">
            <mat-option *ngFor=" let year of yearsForSelectInput" [value]="year">
                {{year}}
            </mat-option>
        </mat-select>

        <button mat-icon-button matTooltip="Primary" (click)="onSubmit.emit()">
            <mat-icon>send</mat-icon>
        </button>

    </mat-form-field>
</form>