@import "./variables.scss";

.linkContainer {
    max-width: 200px;
    width: fit-content;
    display: flex;
    background: $button-blue;
    position: relative;
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    font-weight: bold;
    position: relative;
    top: 20px;
    left: 20px;

    .link {
        color: #111111;
        padding: 10px 15px;
        cursor: pointer;
        text-transform: uppercase;
    }
}

.linkContainer:hover {
    background: $button-blue-hover;
}