/* Color */
$primary: #52414C;
$secondary: #596157;
$active: #DBDCA4;

/* Media Queries */
$max-width-media: 768px;

/* Navbar */
$navbar-width: 280px;
$navbar-padding-left: 8px;
$navbar-transition: 0.25s;

/* Topbar */
$topbar-height: 56px;

/* Border */
$border-color: #E0E1E4;
$border-radius: 4px;

$box-shadow: rgb(60 66 87 / 12%) 0px 7px 14px 0px, rgb(0 0 0 / 12%) 0px 3px 6px 0px;