$navbar-width: 180px;
$navbar-padding-left: 8px;
$navbar-dark-blue: rgba(0, 0, 255, 0.45);
$navbar-ligth-blue: rgba(66, 143, 245, 0.2);
$navbar-transition: 0.25s;

$button-blue: rgba(66, 143, 245, 0.4);
$button-blue-hover: rgba(66, 143, 245, 0.6);