$navbar-width: 180px;
$navbar-padding-left: 8px;
$navbar-transition: 0.25s;

$dark-blue: rgba(0, 0, 255, 1);
$light-blue: rgba(66, 143, 245, 0.2);

$button-blue: rgba(66, 143, 245, 0.4);
$button-blue-hover: rgba(66, 143, 245, 0.6);

$border-color: #E0E1E4;
$border-radius: 4px;
$box-shadow: rgb(60 66 87 / 12%) 0px 7px 14px 0px, rgb(0 0 0 / 12%) 0px 3px 6px 0px;