<form [formGroup]="gameForm" (ngSubmit)="onSubmit()">

    <label for="gameGameType">Gametype*</label>
    <select formControlName="gameType" id="gameGameType" required>
        <option ngValue="">Select a Game Type</option>
        <option *ngFor="let gameType of gameTypesList" [ngValue]="gameType">{{gameType.label}}</option>
    </select>
    <app-form-alert *ngIf="gameType.invalid && (gameType.dirty || gameType.touched)" [control]="gameType"
        controlNameToDisplay="Game Type"></app-form-alert>

    <div formArrayName="clues" required>
        <label for="gameClues">Clues List*</label>
        <div *ngFor="let clue of clues.controls; index as i">
            <input [formControlName]="i" placeholder="Clue" required (minlength)="minLengthRequired">
            <app-form-alert *ngIf="clue.invalid && (clue.dirty || clue.touched)" [control]="clue"
                controlNameToDisplay="Clue" [minLengthRequired]="minLengthRequired"></app-form-alert>
        </div>
    </div>

    <!--<label for="gamePlayer">Player</label>
    <select formControlName="player" id="gamePlayer"></select>
    <label for="gameJersey">Jersey</label>
    <select formControlName="jersey" id="gameJersey"></select>
    <label for="gameComposition">Composition</label>
    <select formControlName="composition" id="gameComposition"></select> -->

    <p>* Required</p>
    <button type="submit" [disabled]="gameForm.invalid">Submit</button>
</form>