@import "../../shared/styles/cards.scss";
@import "../../shared/styles/variables.scss";
@import "../../shared/styles/links.scss";
@import "../../shared/styles/forms.scss";


#gameType {
    width: 542px;
    height: 36px;
    cursor: pointer;
}