<!-- <div class="display">
    <div class="container">
        <button *ngIf="!createFormIsVisible && !editFormIsVisible" class="addButton" mat-raised-button color="primary"
            (click)="createFormIsVisible = true">
            create
        </button>
        <div *ngIf="createFormIsVisible || editFormIsVisible">
            <form [formGroup]="gameTypeForm" class="createAndEditForm">
                <h2 *ngIf="editFormIsVisible">
                    Game Type ID: #{{gameTypeToModify.id}}
                </h2>
                <mat-form-field>
                    <mat-label>Label</mat-label>
                    <input matInput type="text" formControlName="label" *ngIf="createFormIsVisible" required
                        minlength="3">
                    <input matInput type="text" formControlName="label" *ngIf="editFormIsVisible" required
                        minlength="3">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Timer</mat-label>
                    <input matInput type="number" formControlName="timer" *ngIf="createFormIsVisible" required>
                    <input matInput type="number" formControlName="timer" *ngIf="editFormIsVisible" required>
                </mat-form-field>
            </form>
            <div class="containerButtons">
                <button mat-raised-button class="buttons" color="warn" (click)="closeForms()">
                    abandon
                </button>
                <button mat-raised-button class="buttons" color="primary" (click)="addGameType()"
                    *ngIf="createFormIsVisible">
                    create
                </button>
                <button mat-raised-button class="buttons" color="primary" (click)="editGameType()"
                    *ngIf="editFormIsVisible">
                    edit
                </button>
            </div>
        </div>
        <table mat-table [dataSource]="playerList" class="table">

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let player">
                    #{{player.id}}
                </td>
            </ng-container>

            <ng-container matColumnDef="lastName">
                <th mat-header-cell *matHeaderCellDef> Last Name </th>
                <td mat-cell *matCellDef="let player"> {{player.lastName}} </td>
            </ng-container>

            <ng-container matColumnDef="firstName">
                <th mat-header-cell *matHeaderCellDef> First Name </th>
                <td mat-cell *matCellDef="let player"> {{player.firstName ? player.firstName : '-'}} </td>
            </ng-container>

            <ng-container matColumnDef="jersey">
                <th mat-header-cell *matHeaderCellDef> Jersey </th>
                <td mat-cell *matCellDef="let game"> {{game.jersey ? game.jersey.team : '-'}} </td>
            </ng-container>

            <!-- <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let game">
                    <button mat-icon-button matTooltip="Warn" (click)="deletegame(game.id)">
                        <mat-icon>
                            delete
                        </mat-icon>
                    </button>
                </td>
            </ng-container> 

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div> -->