<router-outlet></router-outlet>
<app-guess-player #guessPlayer></app-guess-player>
<!-- <app-results #resultsBottomSheet (startTimer)="startTimer()"></app-results> -->
<div class="games-display">
    <img src="/assets/placeholder-pictures/player.png" alt="Football player shadow"
        class="games-display__placeholder-picture">
    <ul class="games-display__clueList">
        <div *ngFor="let clue of currentGame.clueList" class="games-display__clueList__clue">
            <p>{{clue}}</p>
        </div>
    </ul>
    <p>
        {{timeLeft}}
    </p>
    <button *ngIf="buttonIsVisible" mat-raised-button color="primary" class="buttons" (click)="inputIsVisible()">
        trouvé
    </button>
    <mat-form-field *ngIf="!buttonIsVisible" class="games-display__form__mat-form">
        <mat-label>Nom du joueur</mat-label>
        <input type="text" matInput class="games-display__form__mat-form__input" required [formControl]="responseInput">
        <button mat-icon-button matTooltip="Primary" (click)="onSubmit()">
            <mat-icon>send</mat-icon>
        </button>
    </mat-form-field>
</div>