<div class="logo-container">
        <p class="logo-container__logo">app logo</p>
</div>
<nav class="button-list">
        <button mat-raised-button color="primary" class="buttons">partie rapide</button>
        <div class="button-list__game-type">
                <button mat-raised-button color="accent" class="buttons" routerLink="/guess_player">devine le
                        joueur</button>
                <button mat-raised-button color="accent" class="buttons">devine le maillot</button>
                <button mat-raised-button color="accent" class="buttons">devine la composition</button>
        </div>
</nav>