<div class="home">
        <div class="home__app-logo">
                <p id="app-logo">app logo</p>
        </div>
        <nav class="home__button-list">
                <button mat-raised-button color="primary" class="home__button-list__button">partie rapide</button>
                <div class="home__button-list__game-type">
                        <button mat-raised-button color="accent" class="home__button-list__button" routerLink="/guess_player">devine le joueur</button>
                        <button mat-raised-button color="accent" class="home__button-list__button">devine le maillot</button>
                        <button mat-raised-button color="accent" class="home__button-list__button">devine la composition</button>
                </div>
        </nav>
</div>