/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.display {
    min-height: calc(100vh - 64px);
    width: 100vw;
    display: flex;
    justify-content: center;

    .container {
        display: flex;
        flex-direction: column;
        width: 80vw;

        .addButton {
            align-self: flex-start;
            margin: 20px 0 20px;
            text-transform: uppercase;
        }

        .createAndEditForm {
            display: flex;
            flex-direction: column;
            margin-top: 76px;

            h2 {
                text-align: center;
            }
        }

        .containerButtons {
            display: flex;
            justify-content: space-between;

            .buttons {
                text-transform: uppercase;
            }
        }

        .table {
            min-width: 500px;
            width: 100%;
            max-height: 60vh;
            overflow: auto;
            align-self: center;

            .mat-column-edit,
            .mat-column-delete,
            .mat-column-id {
                text-align: center;
            }
        }
    }
}