<div class="topBar" id="top">
    <div class="buttonsLeftContainer">
        <div (click)="moveNavBar.emit()" class="buttons" id="menu">
            <div class="burgerIcon" id="burger">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
        </div>
        <div class="buttons" (click)="goBack()">
            <span class="material-symbols-outlined">
                arrow_back_ios_new
            </span>
        </div>
    </div>
    <div class="buttons">
        <span class="material-symbols-outlined">
            power_rounded
        </span>
    </div>
</div>