@import "../../shared/styles/variables.scss";
@import "../../shared/styles/titles.scss";

.page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.pageTitle {
    text-transform: uppercase;
}

.container {
    align-self: center;
}

.hide {
    display: none;
}