@import "../../styles/variables.scss";
@import "../../styles/dividers.scss";

a {
    text-transform: capitalize;
    text-decoration: none;
}

.navbar {
    height: 100vh;
    width: $navbar-width;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;

    .headers {
        width: fit-content;

        h3 {
            margin-bottom: 0;
        }

        .appName {
            color: rgba(0, 0, 0, 0.35);
            margin-bottom: 0;
            text-align: center;
        }

        .appVersion {
            color: rgba(0, 0, 0, 0.35);
            margin-top: 0;
            font-size: 0.8rem;
            text-align: end;
        }
    }

    ul {
        padding: 0;
        margin: 0;
        width: 100%;

        .list {
            list-style: none;
            display: flex;
            padding-left: $navbar-padding-left;

            .link {

                color: #111111;
                width: 100%;
                padding: 10px 0 10px 0;
            }
        }

        .list:hover {
            background-color: rgba(0, 0, 0, 0.08);
        }

        .active {
            background-color: rgb(66, 143, 245, 0.2);

            .active__link {
                color: rgba(0, 0, 255, 0.45);
            }
        }
    }
}

.pagesBody {
    margin-left: $navbar-width;
}