@import "../../styles/variables.scss";
@import "../../styles/dividers.scss";

a {
    text-transform: capitalize;
    text-decoration: none;
}

.topBar {
    display: none;
}

.navBar {
    min-height: 100vh;
    width: $navbar-width;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .headers {
        width: fit-content;

        h3 {
            margin-bottom: 0;
        }

        .appName {
            color: rgba(0, 0, 0, 0.35);
            margin-bottom: 0;
            text-align: center;
        }

        .appVersion {
            color: rgba(0, 0, 0, 0.35);
            margin-top: 0;
            font-size: 0.8rem;
            text-align: end;
        }
    }

    ul {
        padding: 0;
        margin: 0;
        width: 100%;

        .list {
            list-style: none;
            display: flex;

            .link {

                color: #111111;
                width: 100%;
                padding: 10px 0 10px $navbar-padding-left;
            }
        }

        .list:hover {
            background-color: rgba(0, 0, 0, 0.08);
        }

        .active {
            background-color: $navbar-ligth-blue;

            .active__link {
                color: $navbar-dark-blue;
            }
        }
    }
}

.pagesBody {
    margin-left: $navbar-width;
}

@media screen and (max-width: 768px) {

    .pagesBody {
        margin-left: 0;
        transition: $navbar-transition;
    }

    .shade {
        display: none;
        width: calc(100vw - $navbar-width);
        min-height: calc(100vh - 56px);
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 56px;
        left: $navbar-width;
        overflow: hidden;
    }

    .topBar {
        display: block;
        background-color: $navbar-ligth-blue;

        .burgerButton,
        .closeButton {
            display: inline-block;
            margin: 10px;
        }

        .bar1,
        .bar2,
        .bar3 {
            width: 32px;
            height: 4px;
            background-color: $navbar-dark-blue;
            margin: 5px 0;
            transition: $navbar-transition;

        }

        .closeButton {

            .bar1 {
                transform: translate(0, 9px) rotate(-45deg);
            }

            .bar2 {
                opacity: 0;
            }

            .bar3 {
                transform: translate(0, -9px) rotate(45deg);
            }
        }
    }

    .navBar {
        min-height: calc(100vh - 56px);
        left: -$navbar-width;
        transition: $navbar-transition;
        top: 56px;

        ul {

            .list:hover {
                background-color: $navbar-ligth-blue;
            }
        }
    }
}