@import "../../styles/variables.scss";
@import "../../styles/dividers.scss";

.navBar {
    min-height: 100%;
    width: $navbar-width;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $primary;
}

.headers {
    width: fit-content;

    h3 {
        font-size: 1.9rem;
        margin-bottom: 0;
    }
}

.appName,
.appVersion {
    color: #ffffff;

}

.appName {
    margin-bottom: 0;
    text-align: center;
}

.appVersion {
    margin-top: 0;
    font-size: 1rem;
    text-align: end;
}

ul {
    padding: 0;
    margin: 0;
    width: 100%;
}

.list {
    list-style: none;
    display: flex;
}

.link {

    color: #ffffff;
    width: 100%;
    font-size: 1.05rem;
    padding: 10px 0 10px $navbar-padding-left;
    text-transform: uppercase;
    -webkit-tap-highlight-color: transparent;
}

.list:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.active {
    background-color: $primary;

}

.active__link {
    color: $active;
}

@media screen and (max-width: $max-width-media) {
    .navBar {
        min-height: calc(100% - $topbar-height);
        left: -$navbar-width;
        transition: $navbar-transition;
        top: $topbar-height;
        position: absolute;

        ul {

            .list:hover {
                background-color: $primary;
            }
        }
    }

    .routerIsActive {
        #nav {
            left: $navbar-width;
        }
    }
}