<div class="display">
    <div class="container">
        <!-- <button class="addButton" mat-icon-button color="primary"
            (click)="!gameFormIsVisible ? gameFormIsVisible = true : gameFormIsVisible = false">
            <mat-icon>addCircle</mat-icon>
        </button>
        <div *ngIf="gameFormIsVisible">
            <form [formGroup]="gameForm">
                <mat-form-field>
                    <mat-label>Label</mat-label>
                    <input matInput type="text" formControlName="label">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Timer</mat-label>
                    <input matInput type="number" formControlName="timer">
                </mat-form-field>
                <button mat-raised-button color="primary" (click)="addgame()">
                    Valider
                </button>
            </form>
        </div> -->
        <table mat-table [dataSource]="compositionList" class="table">

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let composition">
                    #{{composition.id}}
                </td>
            </ng-container>

            <ng-container matColumnDef="label">
                <th mat-header-cell *matHeaderCellDef> Label </th>
                <td mat-cell *matCellDef="let composition"> {{composition.label}} </td>
            </ng-container>

            <ng-container matColumnDef="teamList">
                <th mat-header-cell *matHeaderCellDef> Teams </th>
                <td mat-cell *matCellDef="let composition">
                    {{composition.teamList}}
                </td>
            </ng-container>

            <!-- <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let game">
                    <button mat-icon-button matTooltip="Warn" (click)="deletegame(game.id)">
                        <mat-icon>
                            delete
                        </mat-icon>
                    </button>
                </td>
            </ng-container> -->

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>